.main {
    height: calc(100vh - var(--header-height));
    padding: 0 var(--padding);
    margin-top: var(--header-height);
    background-color: rgb(241, 240, 240);
}


/*
 * === Card-classes to make animations possible (like flip) ===
 */
.cards {
    --font-size: 100px;

    display: grid;
    grid-template-areas: "bsa bsa bsa bsa js   js   js   js   php php php php php php php php"
                         "bsa bsa bsa bsa js   js   js   js   php php php php php php php php"
                         "bsa bsa bsa bsa js   js   js   js   php php php php php php php php"
                         "bsa bsa bsa bsa js   js   js   js   net net net net net evt evt evt"
                         "qa  qa  qa  qa  js   js   js   js   net net net net net evt evt evt"
                         "qa  qa  qa  qa  js   js   js   js   net net net net net blg blg blg"
                         "qa  qa  qa  qa  java java java java net net net net net blg blg blg"
                         "qa  qa  qa  qa  java java java java net net net net net con con con";
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(16, 1fr);

    width: 100%;
    height: 40vw;
    padding-top: 100px;
}

.card {
    width: 100%;
    perspective: 1000px;
    
    background-color: transparent;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 900;
}

.card-back {
    padding: 12px;
    z-index: -1;
    overflow: auto;

    font-size: 12px;
    background-color: #fff;
}

.card-contacts .card-back {
    overflow: unset;
}

/*
 * — Change basic scrollbar style —
 */

.card-back::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

.card-back::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back__text_bold {
    font-weight: 900;
    font-size: 15px;
    font-style: normal;
}

/*
 * — Binary Studio Academy Card —
 */

.card-bsa .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-bsa {
    grid-area: bsa;
}

.card-bsa .card-front,
.card-bsa .card-back {
    background-color: #FFF;
}

/*
 * — --font-size will change depending on screen width —
 */

.card-bsa svg {
    width: calc(1.6 * var(--font-size));
    height: calc(1.6 * var(--font-size));
}

/*
 * — QA Card —
 */

.card-qa {
    grid-area: qa;
    font-size: calc(.9 * var(--font-size));
}

.card-qa .card-front {
    background-color: #52BF77;
}

/*
 * — JS Card —
 */

.card-js {
    grid-area: js;

    font-weight: 900;
    font-size: calc(.9 * var(--font-size));
}

.card-js .card-front {
    align-items: flex-end;
    justify-content: flex-end;

    background-color: #F7CF69;
}

.card-js__text {
    margin-right: 10px;
}

/*
 * — Java Card —
 */

.card-java {
    grid-area: java;
    font-size: calc(.5 * var(--font-size));
}

.card-java .card-front {
    background-color: #E12B4C;
}

/*
 * — PHP Card —
 */

.card-php {
    grid-area: php;
    
    font-size: calc(.8 * var(--font-size));
    font-style: italic;
}

.card-php .card-front {
    background-color: #8893C0;
}

/*
 * — .NET Card —
 */

.card-net {
    grid-area: net;
    font-size: calc(.9 * var(--font-size));
}

.card-net .card-front {
    background-color: #642077;
}

/*
 * — Events Card —
 */

.card-events {
    grid-area: evt;
}

.card-events .card-front {
    background-color: #2D99FF;
}

/*
 * — Blog Card —
 */

.card-blog {
    grid-area: blg;
}

.card-blog .card-front {
    background-color: #0443A3;
}

.card-blog .card-back {
    padding: 5px;
}

/*
 * — Contacts Card —
 */

.card-contacts {
    grid-area: con;
}

.card-contacts .card-front {
    background-color: #00265F;
}

/*
 * === Flipping card effect ===
 */

.card-back.flip {
    transform: rotateY(180deg);
}

.card:hover .card-inner.flip {
    transform: rotateY(180deg);
}

/*
 * === Scaling card effect ===
 */

.card-front.scale {
    transition: width .8s ease-in-out,
        height .8s ease-in-out,
        transform .8s ease-in-out;
}

.card:hover .card-front.scale {
    width: 0;
    height: 0;
}

.scale * {
    transition: transform .8s ease-in-out;
}

.scale-bottom-right {
    bottom: 0;
    right: 0;
}

.scale-top-right {
    top: 0;
    right: 0;
}

.card:hover .card-front.scale *,
.card:hover .card-front.slide *,
.card:hover .card-front.slide-down *{
    transform: scale(0);
}

/*
 * === Sliding card effect ===
 */

.card-front.slide {
    transition: width 0.3s ease-in-out;
    right: 0;
}

.card:hover .card-front.slide {
    width: 0;
}

.slide *,
.slide-down * {
    transition: transform 0.3s ease-in-out;
}

/*
* — Slide-down effect use only height (without width) —
*/

.card-front.slide-down {
    transition: height 0.3s ease-in-out;
    bottom: 0;
}

.card:hover .card-front.slide-down {
    height: 0;
}

/*
* — Contact Card —
*/

.card-contacts .card-back {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
}

.card-contacts .fab {
    opacity: .8;
}

.card-contacts__link:not(:last-child) {
    margin-right: 6px;
}

.card-contacts__link:hover > .fab {
    opacity: 1;
}

.fa-facebook {
    color: #0443A3;
}

.fa-telegram {
    color: #27A7E5;
}

.fa-instagram {
    color: #CF4367;
}

.btn {
    padding: 10px 30px;
    margin: 6px auto;

    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

    color: #fff;
    background: #00adee;
    transition: background .25s ease-in-out;
}

.btn:hover {
    background: #00379B;
}

/*
 * === Media queries ===
 */

@media (max-width: 1200px) {
    .cards {
        --font-size: 80px;
    }
}

@media (max-width: 1030px) {
    .cards {
        --font-size: 75px;
    }
}

@media (max-width: 992px) {
    .cards {
        --font-size: 70px;
        height: 45vw;
    }

    :root {
        --padding: 100px
    }
}

@media (max-width: 900px) {
    .cards {
        --font-size: 55px;

        grid-template-areas:    "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  js  js  evt evt evt"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  js  js  evt evt evt"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  js  js  evt evt evt"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  js  js  blg blg blg"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  js  js  blg blg blg"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  js  js  blg blg blg"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  js  js  con con con"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  js  js  con con con"
                                "java java java java java java java java php php php php php php php php"
                                "java java java java java java java java php php php php php php php php"
                                "java java java java java java java java php php php php php php php php"
                                "java java java java java java java java php php php php php php php php"
                                "qa   qa   qa   qa   qa   qa   qa   qa   net net net net net net net net"
                                "qa   qa   qa   qa   qa   qa   qa   qa   net net net net net net net net"
                                "qa   qa   qa   qa   qa   qa   qa   qa   net net net net net net net net"
                                "qa   qa   qa   qa   qa   qa   qa   qa   net net net net net net net net";
        grid-template-rows: repeat(16, 1fr);
        grid-template-columns: repeat(16, 1fr);
        height: 70vw;
    }
}

@media (max-width: 768px) {
    :root {
        --padding: 40px
    }
    .cards {
        --font-size: 45px;
    }
    .card-events,
    .card-blog,
    .card-contacts {
        font-size: calc(.3 * var(--font-size));
    }
    .card-back {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    :root {
        --padding: 5px;
    }
    .cards {
        --font-size: 40px;
        height: 80vw;
    }
    .card-events,
    .card-blog,
    .card-contacts {
        font-size: calc(.3 * var(--font-size));
    }
    .card-back {
        font-size: 9px;
    }
    .card-back__text_bold {
        font-size: 11px;
    }
    .card-contacts .card-back {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .cards {
        --font-size: 25px;

        grid-template-areas:    "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  php php php php php"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  php php php php php"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  php php php php php"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  net net net net net"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  net net net net net"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  net net net net net"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  con con con con con"
                                "bsa  bsa  bsa  bsa  bsa  bsa  bsa  js   js  js  js  con con con con con"
                                "java  java  java  java  java  java  java  java  evt evt evt evt evt evt evt evt"
                                "java  java  java  java  java  java  java  java  evt evt evt evt evt evt evt evt"
                                "java  java  java  java  java  java  java  java  evt evt evt evt evt evt evt evt"
                                "java  java  java  java  java  java  java  java  evt evt evt evt evt evt evt evt"
                                "qa   qa   qa   qa   qa   qa   qa   qa   blg blg blg blg blg blg blg blg"
                                "qa   qa   qa   qa   qa   qa   qa   qa   blg blg blg blg blg blg blg blg"
                                "qa   qa   qa   qa   qa   qa   qa   qa   blg blg blg blg blg blg blg blg"
                                "qa   qa   qa   qa   qa   qa   qa   qa   blg blg blg blg blg blg blg blg";
        grid-template-rows: repeat(16, 1fr);
        grid-template-columns: repeat(16, 1fr);
        height: 95vw;
    }
    .card-back__text_bold {
        font-size: 8px;
    }
}