.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;

    width: 100%;
    height: var(--header-height);
    padding: 0 var(--padding);

    background-color: #FFF;
    transform: translateY(-100%);
}

.header__logo-wrapper,
.header__logo-wrapper > a {
    display: inline-block;
    height: var(--header-height);
}

.header__logo {
    width: 100px;
    height: var(--header-height);
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    height: 100%;
}