@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.menu__notifications {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    opacity: 0.6;
    cursor: pointer;
}

.menu__toggle-label {
    opacity: 0.8;
}

.menu__notifications:hover {
    opacity: 1;
}

.menu__avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(250, 138, 32, 0.9);

    color: #FFF;
    font-weight: bold;
}

.menu__avatar:hover {
    background-color: rgba(250, 138, 32, 1);
}

.menu__avatar > .menu__toggle-label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    overflow: hidden;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 3;
    top: 45px;
    right: calc(var(--padding) + 5px);
    padding: 10px 10px 5px 10px;
    min-width: 150px;
    max-width: 200px;

    background: #FFF;
    box-shadow: -5px 4px 35px 1px rgba(0,0,0,.2);
}

#avatar:checked + .dropdown-menu {
    display: block;
}

.dropdown-menu__name {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    font-size: 11px;
    color: #A0AAB6;
    overflow: hidden;
}

.dropdown-menu__name::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 5px auto 0 auto;

    background-color: #A0AAB6;
}

.dropdown-menu__items {
    list-style: none;

    padding: 5px 0;
}

.dropdown-menu__item {
    padding: 3px 10px;
}
.dropdown-menu__item:hover {
    background-color: rgba(122, 115, 115, 0.1);
}

.dropdown-menu__item a {
    width: 100%;
    height: 100%;

    color: #000;
    font-weight: 900;
    font-size: 14px;
}

.settings-svg {
    margin-bottom: -2px;
}

.dropdown-menu__item:hover .settings-svg {
    animation: rotating 3s linear infinite;
}

/*
 * === Mini-menu How to learn JS with nice animation ===
 */

.card__additional-items {
    width: 50px;
    padding: 0;
    margin: 10px;
    text-transform: uppercase;
    list-style: none;

    transition: opacity .3s ease-in-out;
}
  
.card__additional-item {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    transition: width .2s ease-in-out, 
            height .2s ease-in-out .2s
}
  
.card__additional-item:hover {
    height: 175px;
    width: 150px;
}
  
.card__additional-link {
    display: block;
    width: 150px;
    height: 40px;
    background: #F7C860;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    padding-left: 15px;
    margin: 1px;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
.card__additional-link:not(:first-child):hover {
    background: #e9b444;
}
  
.card__additional-links:first-child {
    position: relative;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-indent: 185px;
    transition: text-indent .2s ease-in-out 0.3s;
}
  
.card__additional-item:hover card__additional-link:first-child {
    text-indent: 36px;
}

/*
 * === Media queries ===
 */

@media (max-width: 768px) {
    .card__additional {
        display: none;
    }
}