.messages {
    position: fixed;
    bottom: 15px;
    right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 15px 0;
    margin-bottom: 10px;
    border-radius: 4px;

    background-color: #4ec3c3;
    color: #FFF;
    opacity: .8;
}

.message__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.message__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
}

.message__title {
    font-size: 13px;
    font-weight: bold;
}

.message__body {
    font-size: 12px;
    overflow: hidden;
}

/*
* — All styles are prepared for adding a new message without any problem —
* — (Default 'info-message' without using classes-modifiers, or error/success/warn by using classes below) —
*/

.message_error {
    background: #C3534E;
}

.message_success {
    background: #6BAB69;
}

.message_warn {
    background: #FAA045;
}

/*
 * === Media queries ===
 */

@media (max-width: 480px) {
    .message {
        width: 160px;
        padding: 8px 0;
    }
    .message__title {
        font-size: 11px;
    }
    .message__body {
        font-size: 10px;
    }
}