* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

@keyframes slide-in {
    100% {
        transform: translateY(0%);
    }
}

.slide-in {
    animation: slide-in 1s forwards;
}

.visually-hidden {
    display: none;
}

.white-font {
    color: #FFF;
}

:root {
    --padding: 150px;
    --header-height: 50px;
}
